
<div style="margin-left: 3%; margin-right: 7%;">
  <br><br>
  <h1>
    Traccia:
  </h1>
  <h3>
    Implementare un sistema distribuito per l’estrazione del sentiment a partire da dati social.
    <br><br>
    Il sistema deve consentire la sottomissione di dataset da parte degli utenti.
    <br>
    Successivamente, sfruttando le API messe a disposizione da:
    <br>
    ● Servizi cognitivi di Azure
    <br><br>
    Per ogni dataset elaborato, il sistema deve dare la possibilità all’utente di recuperare il risultato,
    <br>
    ottenendo anche dei grafici che visualizzano la distribuzione del sentiment tra le diverse classi considerate
    (neutro, positivo, negativo, ecc.).
    <br><br>
    Per lo svolgimento del progetto, lo studente potrà utilizzare dei dataset di esempio scaricabili al link:
    <br>
    >>
    <a href="https://drive.google.com/drive/folders/1vVNFRQnpxP8EhWcp0JdPAdDRr2wZewUh?usp=sharing" style="color: grey;">
      https://drive.google.com/drive/folders/1vVNFRQnpxP8EhWcp0JdPAdDRr2wZewUh?usp=sharing
    </a>
  </h3>
</div>
