
<div style="background-color: #212121; width: 100%; height: 100%; position: fixed; margin-top: 0%; margin-bottom: 2%;">
  <div style="margin-left: 13%; margin-right: 13%; margin-top: 8%; margin-bottom: 7%; color: #d0d0d0;">
    <div class="not-sel" style="margin-left: 5%;">
      <h2>  Registrazione avvenuta con successo!  </h2>
      <h2>  Se non vieni reindirizzato clicca qui per effettuare il login! </h2>
    </div>
    <div style="margin-left: 30%;">
      <button (click)='login()' mat-raised-button color="warn">
        <span>Login
          <mat-icon class="example-icon">person</mat-icon>
        </span>
      </button>
    </div>
  </div>
</div>
